$bgColor: #337ab7; //bg-primary
$bgColorOdd: #2b87d7;
$fontColor: #fff;
$fontShadowColor: #333;

#wrapper {
  color: $fontColor;
  font-family: 'Play', sans-serif;

  .container {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  > div:nth-child(even) {
    background-color: $bgColor;
  }

  > div:nth-child(odd) {
    background-color: $bgColorOdd;
  }

  #home {
    height: 999px;
    //display: none;
    .inner {
      //min-height: 100%;
      //height: 100%;
      display: flex;
      justify-content: center;
      .text {
        text-align: center;
        align-self: center;
        text-transform: uppercase;

        .loading{
          font-size: 5rem;
        }
        .content{
          display: none;
        }

        .name {
          font-size: 32px;
          font-weight: 400;
          //border: 3px solid $fontColor;
          padding: 15px;
          margin: 0 auto;
          border-radius: 5px;
          text-shadow: 10px 10px 10px $fontShadowColor;
          /*&:hover {
            cursor: pointer;
            border: 5px solid $fontColor;
            padding: 13px;
          }*/
        }

        .separator {
          font-size: 1rem;
          margin-top: 10px;
          letter-spacing: 5px;
        }

        .position {
          margin-top: 10px;
          font-size: 1.96rem;
          letter-spacing: 3px;
        }

        .play {
          margin-top: 10px;
          font-size: 50px;
          a {
            text-decoration: none;
            color: $fontColor;
            &:hover {
              cursor: pointer;
              color: darken($fontColor, 20%);
            }
          }
        }
      }
    }
  }
  #about {
    display: none;
    padding: 20px;
    .inner {
      //min-height: 100%;
      //height: 100%;
      display: flex;
      justify-content: center;

      img {
        margin-bottom: 15px;
      }

      .info {
        text-align: center;
        color: $fontColor;
        .title {
          font-size: 3rem;
          width: 100%;
          text-align: center;
          border-top: solid 1px;
          border-bottom: solid 1px;
        }
        .details {
          font-size: 2rem;
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  #portfolio {
    display: none;
    padding: 20px;
    .inner {
      text-align: center;

      span.btn-default {
        margin-right: 10px;
        margin-bottom: 5px;
      }

      .title {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 22px;
      }
    }
  }

  #contact {
    display: none;
    padding: 20px;
    .inner {
      text-align: center;
      .title {
        font-size: 3rem;
        width: 100%;
      }
      form {
        margin-top: 10px;
      }
      .details {
        text-align: center;
        ul li {
          display: inline;
          margin-right: 22px;
          a {
            font-size: 40px;
            text-decoration: none;
            color: $fontColor;
            &:hover {
              cursor: pointer;
              color: darken($fontColor, 20%);
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        .details {
          margin-left: -40px;
        }
      }
    }
  }
}

/*
#wrapper .container .row .section-title h2 {
  text-align: left;
  font-size: 1em;
  font-weight: 700;
}*/

/*

#wrapper #about #about-list{}
#wrapper #about #about-list .about-line:hover{cursor: pointer;}
#wrapper #about #about-list .about-line:hover > .skills{display: block;}
#wrapper #about .highlight { font-weight: 800; }
#wrapper #about .skill { margin: 0 2px; font-weight: 400;}
#wrapper #about .skill:after { content: ','; }
#wrapper #about .skill:last-child:after { content: ''; }

#wrapper #work img{width:100%;}
#wrapper #work .work-item{margin-bottom: 40px}
 */