$bgColor: #337ab7; //bg-primary
$bgColorOdd: #2b87d7;
$fontColor: #fff;
$fontShadowColor: #333;

body{
  overflow-x: hidden;
  background-color: $bgColor;
}

#wrapper {
  color: $fontColor;
  font-family: 'Play', sans-serif;

  .container {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  > div:nth-child(even) {
    background-color: $bgColor;
  }

  > div:nth-child(odd) {
    background-color: $bgColorOdd;
  }

  #home {
    height: 999px;
    .inner {
      display: flex;
      justify-content: center;
      .text {
        text-align: center;
        align-self: center;
        text-transform: uppercase;

        .loading {
          font-size: 5rem;
        }
        .content {
          display: none;
        }
        .name {
          font-size: 32px;
          font-weight: 400;
          padding: 15px;
          margin: 0 auto;
          border-radius: 5px;
          text-shadow: 10px 10px 10px $fontShadowColor;
        }

        .separator {
          font-size: 1rem;
          margin-top: 10px;
          letter-spacing: 5px;
        }

        .position {
          margin-top: 10px;
          font-size: 1.96rem;
          letter-spacing: 3px;
        }

        .play {
          margin-top: 10px;
          font-size: 50px;
          span {
            text-decoration: none;
            color: $fontColor;
            &:hover {
              cursor: pointer;
              color: darken($fontColor, 20%);
            }
          }
        }
      }
    }
  }
  #about {
    display: none;
    padding: 20px;
    .inner {
      display: flex;
      justify-content: center;

      img {
        margin-bottom: 15px;
      }

      .info {
        text-align: center;
        color: $fontColor;
        .title {
          font-size: 3rem;
          width: 100%;
          text-align: center;
          border-top: solid 1px;
          border-bottom: solid 1px;
        }
        .details {
          font-size: 2rem;
          width: 100%;
          text-align: left;
          a {
            color: $fontColor;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: darken($fontColor, 20%);
            }
          }
        }
      }
    }
  }

  #portfolio {
    display: none;
    padding: 20px;
    .inner {
      text-align: center;

      img{
        object-fit: cover;
        object-position: top;
        max-height: 250px;
        height: 250px;
        width: 100%;
      }
      .caption{
        h3{
          margin-top: 10px;
        }
      }

      span.btn-default {
        margin-right: 10px;
        margin-bottom: 5px;
      }

      .title {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 22px;
      }
    }
  }

  #contact {
    display: none;
    padding: 20px;
    .inner {
      text-align: center;
      .title {
        font-size: 3rem;
        width: 100%;
      }
      form {
        margin-top: 10px;
        .error {
          border: solid 2px #a94442;
        }
        .success {
          border: solid 2px #3c763d;
        }
      }
      .details {
        text-align: center;
        ul li {
          display: inline;
          margin-right: 22px;
          a {
            font-size: 40px;
            text-decoration: none;
            color: $fontColor;
            &:hover {
              cursor: pointer;
              color: darken($fontColor, 20%);
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        .details {
          margin-left: -40px;
        }
      }
    }
  }
}

#sidenavWrapper {
  display: none;
  #openSideNav {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: 20px;
    position: fixed;
    top: 20px;
    font-size: 32px;
    z-index: 999;
    &:hover {
      cursor: pointer;
      color: darken($fontColor, 20%);
    }
  }
  @media (max-width: 768px) {
    #openSideNav {
      background-color: $bgColorOdd;
      border-radius: 6px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
    }
  }

  @media screen and (max-height: 450px) {
    #sidenav {
      padding-top: 15px;
    }
    #sidenav a {
      font-size: 18px;
    }
  }

  #sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #2b87d7;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: solid 0px $fontColor;

    .nav-list {
      margin-right: 3px;
      &.active {
        color: #234663;
      }
    }

    a, #closeSideNav {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: $fontColor;
      display: block;
      transition: 0.3s;
      &:hover, .offcanvas &:focus {
        cursor: pointer;
        color: darken($fontColor, 20%);
      }
    }
    #closeSideNav {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}