body {
  background-color: #337ab7; }

#wrapper {
  color: #fff;
  font-family: 'Play', sans-serif; }
  #wrapper .container {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important; }
  #wrapper > div:nth-child(even) {
    background-color: #337ab7; }
  #wrapper > div:nth-child(odd) {
    background-color: #2b87d7; }
  #wrapper #home {
    height: 999px; }
    #wrapper #home .inner {
      display: flex;
      justify-content: center; }
      #wrapper #home .inner .text {
        text-align: center;
        align-self: center;
        text-transform: uppercase; }
        #wrapper #home .inner .text .loading {
          font-size: 5rem; }
        #wrapper #home .inner .text .content {
          display: none; }
        #wrapper #home .inner .text .name {
          font-size: 32px;
          font-weight: 400;
          padding: 15px;
          margin: 0 auto;
          border-radius: 5px;
          text-shadow: 10px 10px 10px #333; }
        #wrapper #home .inner .text .separator {
          font-size: 1rem;
          margin-top: 10px;
          letter-spacing: 5px; }
        #wrapper #home .inner .text .position {
          margin-top: 10px;
          font-size: 1.96rem;
          letter-spacing: 3px; }
        #wrapper #home .inner .text .play {
          margin-top: 10px;
          font-size: 50px; }
          #wrapper #home .inner .text .play span {
            text-decoration: none;
            color: #fff; }
            #wrapper #home .inner .text .play span:hover {
              cursor: pointer;
              color: #cccccc; }
  #wrapper #about {
    display: none;
    padding: 20px; }
    #wrapper #about .inner {
      display: flex;
      justify-content: center; }
      #wrapper #about .inner img {
        margin-bottom: 15px; }
      #wrapper #about .inner .info {
        text-align: center;
        color: #fff; }
        #wrapper #about .inner .info .title {
          font-size: 3rem;
          width: 100%;
          text-align: center;
          border-top: solid 1px;
          border-bottom: solid 1px; }
        #wrapper #about .inner .info .details {
          font-size: 2rem;
          width: 100%;
          text-align: left; }
          #wrapper #about .inner .info .details a {
            color: #fff;
            text-decoration: none; }
            #wrapper #about .inner .info .details a:hover {
              text-decoration: none;
              color: #cccccc; }
  #wrapper #portfolio {
    display: none;
    padding: 20px; }
    #wrapper #portfolio .inner {
      text-align: center; }
      #wrapper #portfolio .inner img {
        object-fit: cover;
        object-position: center;
        max-height: 250px;
        width: 100%; }
      #wrapper #portfolio .inner span.btn-default {
        margin-right: 10px;
        margin-bottom: 5px; }
      #wrapper #portfolio .inner .title {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 22px; }
  #wrapper #contact {
    display: none;
    padding: 20px; }
    #wrapper #contact .inner {
      text-align: center; }
      #wrapper #contact .inner .title {
        font-size: 3rem;
        width: 100%; }
      #wrapper #contact .inner form {
        margin-top: 10px; }
        #wrapper #contact .inner form .error {
          border: solid 2px #a94442; }
        #wrapper #contact .inner form .success {
          border: solid 2px #3c763d; }
      #wrapper #contact .inner .details {
        text-align: center; }
        #wrapper #contact .inner .details ul li {
          display: inline;
          margin-right: 22px; }
          #wrapper #contact .inner .details ul li a {
            font-size: 40px;
            text-decoration: none;
            color: #fff; }
            #wrapper #contact .inner .details ul li a:hover {
              cursor: pointer;
              color: #cccccc; }
      @media screen and (max-width: 400px) {
        #wrapper #contact .inner .details {
          margin-left: -40px; } }

#sidenavWrapper {
  display: none; }
  #sidenavWrapper #openSideNav {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: 20px;
    position: fixed;
    top: 20px;
    font-size: 32px;
    z-index: 999; }
    #sidenavWrapper #openSideNav:hover {
      cursor: pointer;
      color: #cccccc; }
  @media (max-width: 768px) {
    #sidenavWrapper #openSideNav {
      background-color: #2b87d7;
      border-radius: 6px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px; } }
  @media screen and (max-height: 450px) {
    #sidenavWrapper #sidenav {
      padding-top: 15px; }
    #sidenavWrapper #sidenav a {
      font-size: 18px; } }
  #sidenavWrapper #sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #2b87d7;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: solid 0px #fff; }
    #sidenavWrapper #sidenav .nav-list {
      margin-right: 3px; }
      #sidenavWrapper #sidenav .nav-list.active {
        color: #234663; }
    #sidenavWrapper #sidenav a, #sidenavWrapper #sidenav #closeSideNav {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      display: block;
      transition: 0.3s; }
      #sidenavWrapper #sidenav a:hover, .offcanvas #sidenavWrapper #sidenav a:focus, #sidenavWrapper #sidenav #closeSideNav:hover, .offcanvas #sidenavWrapper #sidenav #closeSideNav:focus {
        cursor: pointer;
        color: #cccccc; }
    #sidenavWrapper #sidenav #closeSideNav {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }

/*# sourceMappingURL=style.css.map */
