/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Play');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'vars';

body{
  background-color: $main-color !important;
  margin: 0;
}

html, body {
  height: 100%;
}
