@import '~bootstrap/dist/css/bootstrap.min.css';
@import './src/vars';

.container {
  font-family: 'Play', sans-serif;
  color: $secondary-color;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}
.preview {
  object-fit: cover;
  object-position: top;
  max-height: 205px;
  height: 205px;
  width: 100%;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 32px;
  padding-top: 5px;
}

.back {
  font-size: 40px;
  cursor: pointer;
  &:hover {
    color: darken($secondary-color, 20%);
  }
}

.card {
  color: $main-color;
  margin-bottom: 16px;
  text-align: center;

  .card-text {
    font-size: 16px;
  }
}
