<div class="container" id="portfolio">
  <div class="row justify-content-center title nav">
    <span class="back" routerLink="/" title="Go back to Home">
      <i class="fa fa-home" aria-hidden="true"></i>
    </span>
  </div>
  <div class="row justify-content-center title">
    Projects
  </div>
  <div class="row ">
    <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let project of projects">
      <div class="card">
        <img [routerLink]="['/projects', project.id]" class="card-img-top preview" src="/assets/projects/{{project.subProjects[0].image}}">
        <div class="card-body">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">{{project.description}}</p>
          <a [routerLink]="['/projects', project.id]" class="btn btn-secondary btn-sm btn-block">View more</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.active]="page==i" *ngFor="let item of pages; let i = index">
          <button class="page-link" (click)="page=i;" [ngx-scroll-to]="'portfolio'">{{i+1}}</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
