@import '~bootstrap/dist/css/bootstrap.min.css';
@import './src/vars';

.container {
  font-family: 'Play', sans-serif;
  color: $secondary-color;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.back {
  font-size: 40px;
  cursor: pointer;
  &:hover {
    color: darken($secondary-color, 20%);
  }
}

.badge {
  margin: 5px;
  font-size: 14px;
  padding: 6px;
}

.sites {
  margin: 10px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  padding-top: 5px;
}

.nav {
  i {
    margin-left: 10px;
  }
}

.description {
  margin: 10px;
  font-size: 16px;
}

.button {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .row-img {
    height: 70%;
    background-color: #333333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.img-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;

  img {
    // width: 100%;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  &:hover .overlay {
    display: block;
    background: rgba(51, 51, 51, 0.2);
  }

  &:hover .nav-button {
    opacity: 0.8;
  }

  .nav-button {
    position: absolute;
    opacity: 0;
    top: calc(50% - 35px);
    color: #fff;

    font-size: 40px;
    z-index: 1;
    cursor: pointer;

    &.left {
      left: 2%;
    }
    &.right {
      left: calc(100% - 40px);
    }
  }
}
